.slick-slide img {
    width: 100%;
}
.slick-slide:focus {
    outline: none;
}
ul.carousel-item-container {
    margin: 0;
    padding: 0;
}
.slick-arrow {
    z-index: 1;
}
.slick-next {
    right: 15px;
}
.slick-prev {
    left: 15px;
}
.carousel-wrap {
    position: relative;
}
.preloader {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}
.preloader::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("slick/ajax-loader.gif") no-repeat center center;
    background-size: contain;
}
.carousel-item-container {
    list-style-type: none;
}
.carousel-item-container img {
    width: 100%;
}
.carousel-item {
    display: none;
}
.carousel-item:first-child {
    display: block;
}